<form>
  <label for="name">Имя:</label>
  <input type="text" name="name"><br><br>
  <label for="sex">Пол:</label>
  <input type="radio" name="sex" id="male" value="male">
  <label for="male">Мужской</label>
  <input type="radio" name="sex" id="female" value="female">
  <label for="female">Женский</label> <br><br>
  <label for="country">Страна: </label>
  <select name="country" id="country">
  <option>Select an option</option>
  <option value="nepal">Непал</option>
  <option value="russia">Россия</option>
  <option value="australia">Австралия</option>
  </select><br><br>
  <label for="message">Сообщение:</label><br>
  <textarea name="message" id="message" cols="30" rows="4"></textarea>
  <br><br>
  <input type="checkbox" name="newsletter" id="newsletter">
  <label for="newsletter">Подписаться?</label><br><br>
  <input type="submit" value="Submit">
  </form>
  

